.hero_section {
  text-align: center;
  background: url('../images/principal/main/fundo_main 1.png') no-repeat center;
  background-size: cover;
}

.hero_section img {
  width: 100%;
  height: auto;
}

.conteudo_hero_section {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.conteudo_hero_section {
  display: grid;
  grid-template-rows: 3.5rem 3.5rem 3.5rem;
}

.conteudo_hero_section h1 {
  font-size: 2.625rem;
}

.conteudo_hero_section p {
  color: var(--cor-subtitulo);
  font-size: 1.125rem;
  width: 43.75rem;
  margin: 0 auto;
  text-align: center;
}