* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --cor-fundo-body: #FFF8FE;
  --cor-branco: #FFFFFF;
  --cor-texto_logo: #6c50e9;
  --cor-titulo: #000000;
  --cor-subtitulo: #656565;

  --cor-fundo_button: #434141;
  --cor-borda_filtro_main: #E0E0E0;
  --cor-borda_card: #EFEFEF;

  --borda-header-e-footer: #CCCCCC;

  --footer_divisoria: #787878;
  
}


/* ------------- HEADER ------------- */

body {
  background-color: var(--cor-fundo-body);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--cor-branco);
  border-bottom: 0.01rem solid var(--borda-header-e-footer);
  box-shadow: 0 2px 4px 0 rgb(0, 0, 0, 0.25);
}

.login_e_nav {
  display: flex;
  width: 100%;
  margin: 0 24rem 0 24rem;
  padding: 1rem 0;
}

.logo_botequim_na_mao {
  width: 4rem;
  border-radius: 100px;
}

.logo_header {
  display: flex;
  align-content: inherit;
  gap: 12px;
}

.logo_texto h1 {
  font-size: 1.625rem;
  color: var(--cor-texto_logo);;
}

.logo_texto p {
  font-size: 1rem;
  color: var(--cor-subtitulo);
}

.nav {
  display: flex;
  flex: 1;
  align-items: center;
}

.barra_de_pesquisa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  list-style: none;
}

.barra_de_pesquisa form {
  display: flex;
  justify-content: center;
}

.login_area {
  margin-left: auto;
  display: flex;
  list-style: none;
  align-items: center;
}

.input_barra_de_pesquisa {
  height: 4rem;
  width: 27rem;
  background-color: transparent;
  border: 0;
  font-size: 1.8rem;
  margin-left: 1rem;
  outline: none;
}

.div_barra_pesquisa_e_filtro {
  display: flex;
  align-items: center;
  height: 3.125rem;
  width: 31.25rem;
  border: 0.0063rem solid #CCCCCC;
  border-radius: 1.5rem;
  box-shadow: 0 3px 4px 0 rgb(0, 0, 0, 0.25);
}

.button_filtro_header {
  height: 2rem;
  width: 2rem;
  display: flex;
  align-self: center;
  background-color: transparent;
  border: 0;
  margin-right: 1rem;
}

.button_login {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 0;
}

/* ------------- MAIN ------------- */

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0 24rem 0 24rem;
  padding: 2rem 0;
  gap: 2rem;
}

.disponibilidade_e_filtros {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.disponibilidade_texto h1 {
  margin-bottom: 0.5rem;
}

.disponibilidade_e_filtros p {
  color: var(--cor-subtitulo);
}

.disponibilidade_filtros form{
  display: flex;
  gap: 1rem;
}

.disponibilidade_filtros button{
  min-height: 2rem;
  padding: 0 0.5rem;
  font-weight: 600;
  background-color: var(--cor-branco);
  border: 0.063rem solid var(--cor-borda_filtro_main);
  border-radius: 2rem;
  box-shadow: 0 1px 4px 0 rgb(0, 0, 0, 0.25);
}

/* .disponibilidade_e_filtros button:hover {
  min-height: 2.5rem;
  background-color: #fdbfff;
  border: 0.063rem solid var(--cor-borda_filtro_main);
  box-shadow: 0 1px 4px 0 rgb(0, 0, 0, 0.25);
  transition: 0.5s;
} */

.conjunto_cards_bebidas {
  display: grid;
  grid-template-columns: 30rem 30rem 30rem;
  gap: 3rem;
  justify-content: space-between;
}

.cards_bebidas {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  min-height: 33rem;
  background-color: var(--cor-branco);
  border: 0.063rem solid var(--cor-borda_card);
  border-radius: 2rem;
  padding-bottom: 2rem;
  box-shadow: 0 1px 4px 0 rgb(0, 0, 0, 0.25);
}

.section_card {
  margin-left: 2rem;
  margin-right: 2rem;
}

.section_card_ingredientes {
  display: flex;
  flex-direction: row;
  margin-left: 2rem;
  margin-right: 2rem;
  gap: 0.5rem;
}

.cards_bebidas img {
  height: 16.5rem;
  width: 30rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.cards_bebidas h1 {
  margin-bottom: 1rem;
}

.cards_bebidas p {
  margin-bottom: 2rem;
}

.cards_bebidas h2 {
  margin-bottom: 1rem;
  font-size: 1.125rem;
}

.span_ingredientes_card {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.span_ingredientes_card span{
  border: 0.063rem solid var(--cor-borda_filtro_main);
  border-radius: 2rem;
  padding: 0.2rem 0.4rem;
  font-weight: 600;
  box-shadow: 0 1px 4px 0 rgb(0, 0, 0, 0.25);
}


/* ------------- FOOTER ------------- */

.footer {
  background-color: var(--cor-branco);
  display: flex;
  flex-direction: column;
  padding: 4rem 24rem;
  border-top: 0.01rem solid var(--borda-header-e-footer);
  gap: 4rem;
}

.section_footer_logo_texto {
  width: 32rem;
}

.footer_logo_contato_redes {
  display: flex;
  justify-content: space-between;
}

.footer p {
  color: var(--cor-subtitulo);
}

.footer_contatos {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contatos {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.footer_redes {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer_divisoria {
  width: 100%;
  border: 0.063rem solid var(--footer_divisoria);
}

.footer_direitos {
  text-align: center;
}

/* ------------- GERAL -------------  */

.logo_texto {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}