* {
  margin: 0;
  padding: 0;
}

:root {
  --cor-texto_logo: #6c50e9;
  --cor-titulo: #000000;
  --cor-subtitulo: #656565;
}


/* ------------- HEADER ------------- */

#header {
  display: flex;
  align-items: center;
  border-bottom: 0.01rem solid var(--cor-titulo);
}

#login_e_nav {
  width: 100%;
  box-sizing: border-box;
  margin: 0 4rem 0 4rem;
  padding: 1rem 6rem;
  display: flex;
  align-items: center;
  
}

#logo_botequim_na_mao {
  width: 3.4rem;
  border-radius: 100px;
}

#logo_header {
  display: flex;
  align-content: inherit;
  gap: 12px;
}

#logo_texto h1 {
  font-size: 2rem;
  color: var(--cor-texto_logo);
}

#logo_texto p {
  color: var(--cor-subtitulo);
}

#nav {
  display: flex;
  flex: 1;
}

#barra_de_pesquisa {
  margin: auto;
  margin-right: 56rem;
  align-items: center;
  list-style: none;
}

#barra_de_pesquisa form {
  display: flex;
  justify-content: center;
}

#login_area {
  display: flex;
  list-style: none;
}

/* ------------- MAIN ------------- */

#main {
  display: flex;
  flex-direction: column;
  margin: 0 8.9rem 0 8.9rem;
  padding: 2rem 1rem;
}

#disponibilidade_e_filtros {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#disponibilidade_e_filtros p {
  color: var(--cor-subtitulo);
}