* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --cor-fundo-body: #FFF8FE;
  --cor-fundo-header-e-footer: #FFFFFF;
  --cor-texto_logo: #6c50e9;
  --cor-titulo: #000000;
  --cor-subtitulo: #656565;

  --borda-header-e-footer: #CCCCCC;

  --footer_divisoria: #787878;
  
}


/* ------------- HEADER ------------- */

body {
  background-color: var(--cor-fundo-body);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  background-color: var(--cor-fundo-header-e-footer);
  border-bottom: 0.01rem solid var(--borda-header-e-footer);
  box-shadow: 0 2px 4px 0 rgb(0, 0, 0, 0.25);
}

.login_e_nav {
  width: 100%;
  box-sizing: border-box;
  margin: 0 4rem 0 4rem;
  padding: 1rem 6rem;
  display: flex;
  align-items: center;
  
}

.logo_botequim_na_mao {
  width: 4rem;
  border-radius: 100px;
}

.logo_header {
  display: flex;
  align-content: inherit;
  gap: 12px;
}

.logo_texto h1 {
  font-size: 1.625rem;
  color: var(--cor-texto_logo);
}

.logo_texto p {
  font-size: 1rem;
  color: var(--cor-subtitulo);
}

.nav {
  display: flex;
  flex: 1;
}

.barra_de_pesquisa {
  margin: auto;
  margin-right: 42rem;
  align-items: center;
  list-style: none;
}

.barra_de_pesquisa form {
  display: flex;
  justify-content: center;
}

.login_area {
  display: flex;
  list-style: none;
}

/* ------------- MAIN ------------- */

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0 8.9rem 0 8.9rem;
  padding: 2rem 1rem;
  gap: 2rem;
}

.disponibilidade_e_filtros {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.disponibilidade_e_filtros p {
  color: var(--cor-subtitulo);
}

.cards_bebidas img {
  margin-bottom: 2rem;
}

.cards_bebidas h1 {
  margin-bottom: 1rem;
}

.cards_bebidas p {
  margin-bottom: 2rem;
}

.cards_bebidas h2 {
  margin-bottom: 1rem;
}

/* ------------- FOOTER ------------- */

.footer {
  background-color: var(--cor-fundo-header-e-footer);
  display: flex;
  flex-direction: column;
  padding: 3rem 9.9rem;
  align-items: center;
  border-top: 0.01rem solid var(--borda-header-e-footer);
  gap: 3.5rem;
}

.footer_logo_contato_redes {
  display: flex;
  gap: 16rem;
}

.footer p {
  color: var(--cor-subtitulo);
}

.section_footer_logo_texto {
  width: 32rem;
}

.contatos {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.footer_divisoria {
  width: 106rem;
  border: 0.063rem solid var(--footer_divisoria);
}

.footer_direitos {
  display: flex;
  margin: 0 auto;
}