:root {
  --cor-fundo-box: #E0E0E0;
}

.box_como_funciona {
  display: flex;
  flex-direction: column;
  background-color: var(--cor-fundo-box);
  border: 0.063rem solid var(--cor-borda_card);
  max-width: 21rem;
  min-height: 9.438rem;
  padding: 0.875rem;
  border-radius: 1rem;
  gap: 0.5rem;
  box-shadow: 0 1px 4px 0 rgb(0, 0, 0, 0.25);
}

.box_numerador {
  background-color: #5555BB;
  text-align: center;
  width: 1.2rem;
  padding: 0.8rem;
  border-radius: 10rem;
}

.box_numerador h1 {
  font-size: 1.125rem;
}