:root {
  --cor-borda-button-começar: #4A4A9E;
  --cor-fundo-button-começar: #5555BB;
  
}

.hero_section {
  background-image: url(../../../images/page_principal/fundo_main.png);
  background-size: 100% 100%;
  text-align: center;
}

.hero_section img {
  width: 100%;
  height: auto;
}

.conteudo_hero_section {
  padding: 16.5rem 38.125rem;
  gap: 3.5rem;
}

.conteudo_hero_section {
  display: grid;
  grid-template-rows: 3.5rem 3.5rem 3.5rem;
}

.conteudo_hero_section h1 {
  font-size: 2.625rem;
}

.conteudo_hero_section p {
  color: var(--cor-subtitulo1);
  font-size: 1.125rem;
  width: 41rem;
  margin: 0 auto;
  text-align: center;
  font-weight: 400;
}

.div_hero_main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.button_comecar {
  border: none;
  background-color: transparent;
  padding: 0.75rem 1.25rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 800;
  background-color: var(--cor-fundo-button-começar);
  border: 0.063rem solid var(--cor-borda-button-começar);
}

.button_comecar:hover {
  cursor: pointer;
}

