.barra_de_pesquisa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  list-style: none;
}

.barra_de_pesquisa form {
  display: flex;
  justify-content: center;
}

.login_area {
  margin-left: auto;
  display: flex;
  list-style: none;
  align-items: center;
}

.input_barra_de_pesquisa {
  height: 4rem;
  width: 27rem;
  background-color: transparent;
  border: 0;
  font-size: 1.8rem;
  margin-left: 1rem;
  outline: none;
}

.div_barra_pesquisa_e_filtro {
  display: flex;
  align-items: center;
  height: 3.125rem;
  width: 31.25rem;
  border: 0.0063rem solid #CCCCCC;
  border-radius: 1.5rem;
  box-shadow: 0 3px 4px 0 rgb(0, 0, 0, 0.25);
}

.button_filtro_header {
  height: 2rem;
  width: 2rem;
  display: flex;
  align-self: center;
  background-color: transparent;
  border: 0;
  margin-right: 1rem;
}