.header {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--cor-branco);
  border-bottom: 0.01rem solid var(--borda-header-e-footer);
  box-shadow: 0 2px 4px 0 rgb(0, 0, 0, 0.25);
}

.login_e_nav {
  display: flex;
  width: 100%;
  margin: 0 24rem 0 24rem;
  padding: 1rem 0;
}

.logo_botequim_na_mao {
  width: 4rem;
  border-radius: 100px;
}

.logo_header {
  display: flex;
  align-content: inherit;
  gap: 12px;
}

.logo_texto h1 {
  font-size: 1.625rem;
  color: var(--cor-texto_logo);;
}

.logo_texto p {
  font-size: 1rem;
  color: var(--cor-subtitulo);
}

.nav {
  display: flex;
  flex: 1;
  align-items: center;
}



.button_login {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 0;
}