.footer {
  background-color: var(--cor-branco);
  display: flex;
  flex-direction: column;
  padding: 4rem 10%;
  border-top: 0.01rem solid var(--borda-header-e-footer);
  gap: 4rem;
}

.footer_logo_contato_redes {
  display: flex;
  justify-content: space-between;
}

.footer p {
  color: var(--cor-subtitulo2);
}

.logo_texto p {
  width: 100%;
  max-width: 32rem;
}

.footer_contatos {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer_divisoria {
  width: 100%;
  border: 0.063rem solid var(--footer_divisoria);
}

.footer_direitos {
  text-align: center;
}

@media (max-width: 768px) {
  .footer {
    padding: 2rem 1.5rem;
  }

  .footer_logo_contato_redes {
    flex-direction: column;
    gap: 2rem;
  }
}