.cards_bebidas {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  min-height: 33rem;
  background-color: var(--cor-branco);
  border: 0.063rem solid var(--cor-borda_card);
  border-radius: 2rem;
  padding-bottom: 2rem;
  box-shadow: 0 1px 4px 0 rgb(0, 0, 0, 0.25);
}

.section_card {
  margin-left: 2rem;
  margin-right: 2rem;
}

.section_card_ingredientes {
  display: flex;
  flex-direction: row;
  margin-left: 2rem;
  margin-right: 2rem;
  gap: 0.5rem;
}

.card_imagem img {
  height: 16.5rem;
  width: 30rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.cards_bebidas h1 {
  margin-bottom: 1rem;
}

.cards_bebidas p {
  margin-bottom: 2rem;
}

.cards_bebidas h2 {
  margin-bottom: 1rem;
  font-size: 1.125rem;
}

.span_ingredientes_card {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.span_ingredientes_card span{
  border: 0.063rem solid var(--cor-borda_filtro_main);
  border-radius: 2rem;
  padding: 0.2rem 0.4rem;
  font-weight: 600;
  box-shadow: 0 1px 4px 0 rgb(0, 0, 0, 0.25);
}