.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0 24rem 0 24rem;
  padding: 2rem 0;
  gap: 2rem;
}

.disponibilidade_e_filtros {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.disponibilidade_texto h1 {
  margin-bottom: 0.5rem;
}

.disponibilidade_texto p {
  color: var(--cor-subtitulo);
}

.disponibilidade_filtros{
  display: flex;
  gap: 0.5rem;
}

.disponibilidade_filtros button{
  min-height: 2rem;
  padding: 0 0.5rem;
  font-weight: 600;
  background-color: var(--cor-branco);
  border: 0.063rem solid var(--cor-borda_filtro_main);
  border-radius: 2rem;
  box-shadow: 0 1px 4px 0 rgb(0, 0, 0, 0.25);
}

.conjunto_cards_bebidas {
  display: grid;
  grid-template-columns: 30rem 30rem 30rem;
  gap: 3rem;
  justify-content: space-between;
}