* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --cor-fundo-body: #FFF8FE;
  --cor-branco: #FFFFFF;
  --cor-texto_logo: #6c50e9;
  --cor-titulo: #000000;
  --cor-subtitulo1: #d9d9d9;
  --cor-subtitulo2: #656565;

  --cor-fundo_button: #434141;
  --cor-borda_filtro_main: #E0E0E0;
  --cor-borda_card: #EFEFEF;

  --borda-header-e-footer: #CCCCCC;

  --footer_divisoria: #787878;
  
}

body {
  background-color: var(--cor-fundo-body);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}